<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		
		<div class="row center container">
			<div class="container info col s6 m6 l2 hoverable">
				Total Fuel Cost: <br>
				$<%=totalCost%>
			</div>
			<div class="container info col s6 m6 l2 hoverable">
				Total Gallons: <br>
				<%=totalGal%>
			</div>
			<div class="container info col s6 m6 l2 hoverable">
				Total Miles: <br>
				<% if (Data.length > 1) { %>
					<%=Data[Data.length - 1].odometer - Data[0].odometer%>
				<% } else { %>
					Not Enough Data
				<% } %>
			</div>
			<div class="container info col s6 m6 l2 hoverable">
				Best MPG: <br>
				<%=bestMpg%>
			</div>
			<div class="container info col s6 m6 l2 hoverable">
				Last MPG: <br>
				<%=lastMpg%>
			</div>
			<div class="container info col s6 m6 l2 hoverable">
				Fuel logs: <br>
				<%=totalLogs%>
			</div>
		</div>
		<div class="container">
			<table class="responsive-table centered highlight">
				<tr>
					<th>Index</th>
					<th>Odometer</th>
					<th>Fuel Type</th>
					<th>Gallons</th>
					<th>Total Cost</th>
					<th>Cost/Gal</th>
					<th>Location</th>
					<th>Dates</th>
					<th>Miles Per Gallon</th>
					<th>Brand</th>
				</tr>

				<% Data.forEach((ele, index) => { %>
					<% let milesPerGal = 0 %>

					<% if (index !== 0) { %>
						<% milesPerGal = (Data[index].odometer - Data[index - 1].odometer)/Data[index-1].gallons %>
					<% } %>

					<tr>
						<th><a href="main/<%=ele.id%>"><%=index%></a></th>
						<th><%=ele.odometer%></th>
						<th><%=ele.type%></th>
						<th><%=ele.gallons%></th>
						<th>$<%=ele.total%></th>
						<th>$<%=ele.pergal%></th>
						<th><%=ele.location%></th>
						<th><%=ele.date.toLocaleDateString()%></th>
						<th><%=Math.round(milesPerGal * 100) / 100%></th>
						<th><%=ele.brand%></th>
					</tr>
				<% }) %>
			</table>
		</div>
		<div class="row center container">
			<div class="container info col s6 m6 l3 hoverable">
				Avg MPG: <br>
				<%=avgMpg%>
			</div>
			<div class="container info col s6 m6 l3 hoverable">
				Avg Price/Gal: <br>
				$<%=avgPrice%>
			</div>
			<div class="container info col s6 m6 l3 hoverable">
				Avg Fuel Up Cost: <br>
				$<%=avgFuelup%>
			</div>
			<div class="container info col s6 m6 l3 hoverable">
				Avg Price/Mile: <br>
				$<%=avgPMile%>
			</div>
		</div>

		<div class="container row center">
			<div class="col s12 m12 l12 center lGraph">
				<p>Miles Per Gallon</p>
				<div id="line"></div>
			</div>
			<div class="container col s12 m12 l6 offset-l3">
				<div id="brand"></div>
			</div>
		</div>
			<script type="text/javascript">
				lineChart(<%-JSON.stringify(lineData)%>)
				brandChart(<%-JSON.stringify(brandData)%>)
			</script>
	</body>
</html>