<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper teal lighten-2">
				<a href="#" onclick="sidebar()" class="sidenav-trigger show-on-large" data-target="slide_out"><i class="material-icons">menu</i></a>
				<div class="container center-align">
					<a href="/main" class="brand-logo right">Fuel Tracker</a>
				</div>
			</div>
			<ul class="sidenav" id="slide_out">
				<div class="teal lighten-2 gasIconContainer">
					<i class="material-icons gasIcon">local_gas_station</i>
				</div>
				<div class="sideNavButtonContainer">
					<li class="active sideNavButton"><a href="/main"><i class="material-icons">home</i>Home</a></li>
					<li class="active sideNavButton"><a href="/users/<%=currentUser.username%>"><i class="material-icons">account_box</i>Profile</a></li>
					<li class="active sideNavButton"><a href="/main/new"><i class="material-icons">add</i>New Data</a></li>
					<li class="active sideNavButton"><a href="#"><i class="material-icons">map</i>Maps</a></li>
					<form class="logout" action="/users?_method=DELETE" method="POST">
						<li class="active sideNavButton"><a href="#" onclick="logout()"><i class="material-icons">cancel</i>Log Out</a></li>
					</form>
				</div>
			</ul>
		</nav>
		<h1>
    		<% if(currentUser) { %>
    		    Welcome <%=currentUser.username%>!
    		<% } else { %>
    		    Welcome!
    		<% } %>
		</h1>
		<table class="container">
			<tr>
				<th>Index</th>
				<th>Odometer</th>
				<th>Fuel Type</th>
				<th>Gallons</th>
				<th>Total Cost</th>
				<th>Cost/Gal</th>
				<th>Location</th>
				<th>Dates</th>
				<th>Miles Per Gallon</th>
			</tr>

			<% Data.forEach((ele, index) => { %>
				<% let milesPerGal = 0 %>

				<% if (index !== 0) { %>
					<% milesPerGal = (Data[index].odometer - Data[index - 1].odometer)/Data[index-1].gallons %>
				<% } %>

				<tr>
					<th><a href="main/<%=ele.id%>"><%=index%></a></th>
					<th><%=ele.odometer%></th>
					<th><%=ele.type%></th>
					<th><%=ele.gallons%></th>
					<th>$<%=ele.total%></th>
					<th>$<%=ele.pergal%></th>
					<th><%=ele.location%></th>
					<th><%=ele.date%></th>
					<th><%=milesPerGal%></th>
				</tr>
			<% }) %>


			<div class="container">
				Total Fuel Cost: <br>
				<%=totalCost%>
			</div>
			<div class="container">
				Total Gallons: <br>
				<%=totalGal%>
			</div>
			<div class="container">
				Total Miles: <br>
				<%=Data[Data.length - 1].odometer - Data[0].odometer%>
			</div>
			<div class="container">
				Best Miles Per Gallon: <br>
				<%=bestMpg%>
			</div>
			<div class="container">
				Last Miles Per Gallon: <br>
				<%=lastMpg%>
			</div>

			<div id="pie"></div>
			<div id="line"></div>
			<script type="text/javascript">
				pieChart(<%-JSON.stringify(chartData)%>)
				lineChart(<%-JSON.stringify(lineData)%>)
			</script>
		</table>
	</body>
</html>