<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<h1>
    		<% if(currentUser) { %>
    		    Welcome <%=currentUser.username%>!
    		<% } else { %>
    		    Welcome!
    		<% } %>
		</h1>
		<table class="container">
			<tr>
				<th>Odometer</th>
				<th>Fuel Type</th>
				<th>Gallons</th>
				<th>Total Cost</th>
				<th>Cost/Gal</th>
				<th>Location</th>
				<th>Dates</th>
			</tr>
			<% let totalCost = 0 %>
			<% Data.forEach((ele, index) => { %>

				<% totalCost += ele.total %>

				<tr>
					<th><a href="https://secure-fortress-80109.herokuapp.com/main/<%=ele.id%>"><%=index%></a></th>
					<th><%=ele.odometer%></th>
					<th><%=ele.type%></th>
					<th><%=ele.gallons%></th>
					<th>$<%=ele.total%></th>
					<th>$<%=ele.pergal%></th>
					<th><%=ele.location%></th>
					<th><%=ele.date%></th>
				</tr>
			<% }) %>


			<div class="container">
				Total Fuel Cost: <br>
				<%=totalCost%>
			</div>
			<div>
				
			</div>
			<div>
				
			</div>
		</table>
	</body>
</html>