<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<br>
		<div class="container">
			<table class="responsive-table centered highlight">
				<tr>
					<th>Username</th>
					<th>No. of Logs</th>
					<th>Current Car</th>
				</tr>
				<tr>
					<th><%=Data.username%></th>
					<th><%=Data.data.length%></th>
					<th><%=Data.car%></th>
				</tr>
			</table>
		</div>
		<br>
		<div class="row container">
			<div class="col l4 s12">
				<h5>Change Password</h5>
				<p class="wrong red-text"><%=PassMessage%></p>
				<form action="/users/<%=currentUser.username%>" method="POST">
					Old Password: <input type="password" name="password">
					New Password: <input type="password" name="newpassword">
					<button type="submit" class="btn waves-effect waves-light left">Submit <i class="material-icons right">publish</i></button>
				</form>
			</div>
			<div class="col l4 s12">
				<h5>Add Brand</h5>
				<form action="/users/Newbrand" method="POST">
					<input type="text" name="userBrands">
					<button type="submit" class="btn waves-effect waves-light left">Submit <i class="material-icons right">publish</i></button>
				</form>
			</div>
			<div class="col l4 s12">
				<h5>Set Car</h5>
				<form action="/users/Newcar" method="POST">
					<input type="text" name="car">
					<button type="submit" class="btn waves-effect waves-light left">Submit <i class="material-icons right">publish</i></button>
				</form>
			</div>
		</div>
	</body>
</html>