<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<table class="container">
			<tr>
				<th>Odometer</th>
				<th>Fuel Type</th>
				<th>Gallons</th>
				<th>Total Cost</th>
				<th>Cost/Gal</th>
				<th>Location</th>
				<th>Dates</th>
			</tr>
			<tr>
				<th><%=Data.odometer%></th>
				<th><%=Data.type%></th>
				<th><%=Data.gallons%></th>
				<th>$<%=Data.total%></th>
				<th>$<%=Data.pergal%></th>
				<th><%=Data.location%></th>
				<th><%=Data.date%></th>
			</tr>
		</table>
		<div class="container">
			<br>
			<form action="<%=Data.id%>/edit">
				<button class="btn waves-effect waves-light">Edit<i class="material-icons right">edit</i></button>
			</form>
			<br>
			<form action="<%=Data.id%>?_method=DELETE" method="POST">
				<button class="btn waves-effect waves-light">Delete<i class="material-icons right">delete</i></button>
			</form>
		</div>
	</body>
</html>