<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head.ejs %>
		<script src="/app.js" charset="utf-8"></script>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		
		<br>
		<div class="container">
			<table class="responsive-table centered highlight">
				<tr>
					<th>Odometer</th>
					<th>Fuel Type</th>
					<th>Gallons</th>
					<th>Total Cost</th>
					<th>Cost/Gal</th>
					<th>Location</th>
					<th>Dates</th>
					<th>Brand</th>
				</tr>
				<tr>
					<th><%=Data.odometer%></th>
					<th><%=Data.type%></th>
					<th><%=Data.gallons%></th>
					<th>$<%=Data.total%></th>
					<th>$<%=Data.pergal%></th>
					<th><%=Data.location%></th>
					<% if (Data.date) { %>
						<th><%=Data.date.toLocaleDateString()%></th>
					<% } %>
					<th><%=Data.brand%></th>
				</tr>
			</table>
		</div>
		<br>
		<div class="row container">
			<div class="col l1">
				<form action="<%=Data.id%>/edit">
					<button class="btn waves-effect waves-light">Edit<i class="material-icons right">edit</i></button>
				</form>				
			</div>
			<div class="col l1">
				<form action="<%=Data.id%>?_method=DELETE" method="POST">
					<button class="btn waves-effect waves-light">Delete<i class="material-icons right">delete</i></button>
				</form>	
			</div>
			<div class="col l1 right">
				<form action="/main">
					<button class="btn waves-effect waves-light">Return<i class="material-icons right">delete</i></button>
				</form>	
			</div>
		</div>
	</body>
</html>